<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">


	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<description>
		</description>
		<display-name>HelloWorldServlet</display-name>
		<servlet-name>HelloWorldServlet</servlet-name>
		<servlet-class>com.example.jpa.web.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AccessTypeServlet</display-name>
		<servlet-name>AccessTypeServlet</servlet-name>
		<servlet-class>com.example.jpa.web.accesstype.AccessTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorldServlet</servlet-name>
		<url-pattern>/HelloWorldServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccessTypeServlet</servlet-name>
		<url-pattern>/AccessTypeServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserRegistrationServlet</servlet-name>
		<servlet-class>com.example.jpa.web.apachecommons.UserRegistrationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserRegistrationServlet</servlet-name>
		<url-pattern>/userRegister</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<description>File upload default directory</description>
		<param-name>tempUpload.directory</param-name>
		<param-value>userfiles</param-value>
	</context-param>
	
	<listener>
		<description>Listener to create initial context and directories</description>
		<listener-class>com.example.jpa.web.utils.ServletContextInitilizer</listener-class>
	</listener>
</web-app>
