<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">


	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<description>
		</description>
		<display-name>HelloWorldServlet</display-name>
		<servlet-name>HelloWorldServlet</servlet-name>
		<servlet-class>com.example.jpa.web.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AccessTypeServlet</display-name>
		<servlet-name>AccessTypeServlet</servlet-name>
		<servlet-class>com.example.jpa.web.accesstype.AccessTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorldServlet</servlet-name>
		<url-pattern>/HelloWorldServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccessTypeServlet</servlet-name>
		<url-pattern>/AccessTypeServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserRegistrationServlet</servlet-name>
		<servlet-class>com.example.jpa.web.apachecommons.UserRegistrationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EnumMappingTestServlet</display-name>
		<servlet-name>EnumMappingTestServlet</servlet-name>
		<servlet-class>com.example.jpa.web.enums.EnumMappingTestServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TemporalMappingTestServlet</display-name>
		<servlet-name>TemporalMappingTestServlet</servlet-name>
		<servlet-class>com.example.jpa.web.temporal.TemporalMappingTestServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TableIdentityGeneratorTestServlet</display-name>
		<servlet-name>TableIdentityGeneratorTestServlet</servlet-name>
		<servlet-class>com.example.jpa.web.identitygenerators.TableIdentityGeneratorTestServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IdentityGeneratorTestServlet</display-name>
		<servlet-name>IdentityGeneratorTestServlet</servlet-name>
		<servlet-class>com.example.jpa.web.identitygenerators.IdentityGeneratorTestServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AutoIdentityGeneratorTestServlet</display-name>
		<servlet-name>AutoIdentityGeneratorTestServlet</servlet-name>
		<servlet-class>com.example.jpa.web.identitygenerators.AutoIdentityGeneratorTestServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>OrderedListTestServlet</display-name>
		<servlet-name>OrderedListTestServlet</servlet-name>
		<servlet-class>com.example.jpa.web.collectionsorting.OrderedListTestServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserRestHandler</display-name>
		<servlet-name>UserRestHandler</servlet-name>
		<servlet-class>com.example.jpa.web.collectionsorting.UserRestHandler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RelativeRestHandler</display-name>
		<servlet-name>RelativeRestHandler</servlet-name>
		<servlet-class>com.example.jpa.web.collectionsorting.RelativeRestHandler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserPhoneRestHandler</display-name>
		<servlet-name>UserPhoneRestHandler</servlet-name>
		<servlet-class>com.example.jpa.web.collectionsorting.UserPhoneRestHandler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ElementCollectionTestServlet</display-name>
		<servlet-name>ElementCollectionTestServlet</servlet-name>
		<servlet-class>com.example.jpa.web.elementcollection.ElementCollectionTestServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TestQuartz</display-name>
		<servlet-name>TestQuartz</servlet-name>
		<servlet-class>com.example.jpa.web.quartz.TestQuartz</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserRegistrationServlet</servlet-name>
		<url-pattern>/userRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EnumMappingTestServlet</servlet-name>
		<url-pattern>/EnumMappingTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TemporalMappingTestServlet</servlet-name>
		<url-pattern>/TemporalMappingTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TableIdentityGeneratorTestServlet</servlet-name>
		<url-pattern>/TableIdentityGeneratorTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IdentityGeneratorTestServlet</servlet-name>
		<url-pattern>/IdentityGeneratorTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AutoIdentityGeneratorTestServlet</servlet-name>
		<url-pattern>/AutoIdentityGeneratorTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderedListTestServlet</servlet-name>
		<url-pattern>/OrderedListTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRestHandler</servlet-name>
		<url-pattern>/UserRestHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RelativeRestHandler</servlet-name>
		<url-pattern>/RelativeRestHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserPhoneRestHandler</servlet-name>
		<url-pattern>/UserPhoneRestHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ElementCollectionTestServlet</servlet-name>
		<url-pattern>/ElementCollectionTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestQuartz</servlet-name>
		<url-pattern>/TestQuartz</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<description>File upload default directory</description>
		<param-name>tempUpload.directory</param-name>
		<param-value>userfiles</param-value>
	</context-param>
	
	<listener>
		<description>Listener to create initial context and directories</description>
		<listener-class>com.example.jpa.web.utils.ServletContextInitilizer</listener-class>
	</listener>
</web-app>
